<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-12">
        <button type="button" class="btn btn-dark" routerLink="/nuevopro" *ngIf="isLogged">
            <i class="bi bi-plus-square"> Agregar proyecto!</i>
        </button>
    </div>

    
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td class="col-lg-3">
                        <h3>{{Proyecto.nombreP}}</h3>
                    </td>
                    <td class="col-lg-3">
                        {{Proyecto.descripcionP}}
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-secondary" routerLink="/editpro/{{Proyecto.id}}">
                            <i class="bi bi-pencil-square"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                       <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                        <i class="bi bi-trash2-fill"></i></button>
                    </td>
                    <td class="col-lg-4">
                        <div ><img [src]="Proyecto.img" alt="Este proyecto" class="img-fluid img-proyecto"></div>
                    </td>

                    
                </tr>
            </tbody>
        </table>
        
    </div>
    
    
</div>