<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevopro" *ngIf="isLogged">
            <i class="bi bi-plus-square"></i>
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-7">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td>
                        <h3>{{Proyecto.nombreP}}</h3>
                    </td>
                    <td>{{Proyecto.descripcionP}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-secondary" routerLink="/editpro/{{Proyecto.id}}">
                            <i class="bi bi-pencil-square"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                       <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                        <i class="bi bi-trash2-fill"></i></button>
                    </td>
                    <td>
                        <div class="col lg 4"><img [src]="Proyecto.img" alt="Este proyecto" class="img-fluid img-proyecto"></div>
                    </td>

                    
                </tr>
            </tbody>
        </table>
        
    </div>
    
    
</div>