<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/JC.jpg" alt="foto de perfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Javier Agustin Carrere</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid dolor voluptatum atque, corrupti nostrum inventore impedit, eligendi quis ipsa error tempora recusandae voluptatibus vitae laborum illum iure asperiores incidunt.</p>
        </span>
    </div>    
</div>
