.row{
    padding:20px;
}
div{
    background: #20537D;
}
.container{
  padding:20px;
  
}



h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 70%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    
}

.btn-secondary{
  margin:20px;
}

.form-group{
  margin:10px;
}




button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius:10px;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer
}

button:hover {
    opacity: 0.7;
}

button:focus{

  outline: none !important;
}




